language: ruby

services:
  - mysql
  - postgresql

rvm:
  # - 2.2.7
  # - 2.3.4
  - 2.4.1

gemfile:
  - $REDMINE_PATH/Gemfile

env:
  # - REDMINE_VER=3.2.7 DB=mysql
  # - REDMINE_VER=3.3.4 DB=mysql
  # - REDMINE_VER=3.4.2 DB=mysql
  # - REDMINE_VER=3.2.7 DB=postgresql
  # - REDMINE_VER=3.3.4 DB=postgresql
  - REDMINE_VER=3.4.2 DB=postgresql

before_install:
  - export PLUGIN_NAME=redmine_redcaser
  - export REDMINE_PATH=$HOME/redmine
  - export REDMINE_GIT=https://github.com/redmine/redmine.git
  - git clone $REDMINE_GIT --branch $REDMINE_VER --depth 1 $REDMINE_PATH
  - mv $TRAVIS_BUILD_DIR $REDMINE_PATH/plugins/$PLUGIN_NAME
  - cp config/database-$DB-travis.yml $REDMINE_PATH/config/database.yml
  - cd $REDMINE_PATH

before_script:
  - bundle exec rake db:create db:migrate redmine:plugins:migrate RAILS_ENV=test

script:
  - bundle exec rake redmine:plugins:test RAILS_ENV=test NAME=$PLUGIN_NAME
