<% return unless issue.tracker_id == RedcaserSettings.tracker_id %>

<hr>
<div class="test_case_preconditions">
  <p>
    <strong>Preconditions</strong>
  </p>
  <div class="wiki">
    <p>
      <%= textilizable issue.test_case, :preconditions %>
    </p>
  </div>
</div>
<hr>
<div class="test_case_steps">
  <p>
    <strong>Steps</strong>
  </p>
  <div class="wiki">
    <p>
      <%= textilizable issue.test_case, :steps %>
    </p>
  </div>
</div>
<hr>
<div class="test_case_expected_results">
  <p>
    <strong>Expected result</strong>
  </p>
  <div class="wiki">
    <p>
      <%= textilizable issue.test_case, :expected_results %>
    </p>
  </div>
</div>
