<%=
execution_suites = ExecutionSuite.where(:version_id => version.id)

if execution_suites.any?
 test_cases = ExecutionSuiteTestCase.where(execution_suite_id: execution_suites).to_a

 test_case_statuses = TestCaseStatus.where(execution_suite_id: execution_suites).to_a
  results = ExecutionResult.all
  txt = "<span>Total #{RedcaserSettings.tracker_name.downcase.pluralize}:</span> <b>" +  test_cases.size.to_s + "</b>"
  for r in results do
    count = 0
    for t in test_case_statuses do
      count += 1 if t.execution_result_id == r.id
    end
    txt = txt + " [" + r.name + "=" + count.to_s + "]"
  end
  txt = txt + "<br/>"
  txt.html_safe
end

%>
