.execution-body {
  width: 50%;
  float: left;
}
.case-preview {
  width: 50%;
}
.suite-table {
  display: table;
  width: 100%;
}
.suite-link {
  text-align: left;
}
.suite-header {
  display: table-row;
}
.suite-header > span, .suite-case > span{
  padding-top: 8px;
  padding-bottom: 8px;
  vertical-align: middle;
}
.case-drag {
  background-position: 50% 50%;
}
.case-drag, .case-check {
  width: 30px;
  text-align: center;
  vertical-align: middle;
}
.case-id, .suite-id {
  width: 70px;
  padding-left: 10px;
}