table.suite-table {
  width: 100%;
  border-collapse: collapse;
}
table.test-cases th, table.test-cases td {
  text-align: left;
  vertical-align: middle;
}
table.test-cases tr:nth-child(odd) {
  background-color: #f6f7f8;
}
table.test-cases tr:nth-child(even) {
  background-color: #ffffff;
}
table.test-cases tr.suite-case:hover {
  background-color: #ffffdd;
}
table.test-cases tr.selected, table.test-cases tr.selected a {
  background-color: #507AAA !important;
  color: #ffffff  !important;
}
table.test-cases .drag {
  width: 20px;
  padding-right: 0;
  text-align: center;
}
table.test-cases .checkbox {
  text-align: center;
  width: 20px;
}
table.test-cases .suite-id, table.execution-table .list-header-id {
  width: 80px;
}
table.test-cases td.case-actions {
  text-align: right;
}
div.clear-both {
  clear: both;
}
div.empty-content {
  background-color: #ffffdd;
  border: 1px solid #f2f2f2;
  padding: 10px;
  margin-top: 10px;
}
div.empty-content .left{
  float: left;
  width: 74%;
}
div.empty-content .right{
  float: right;
  width: 25%;
  text-align: center;
  border-left: 1px solid #f2f2f2;
  padding-left: 5px;
}
div.empty-content span.title {
  font-weight: 600;
  display: block;
  padding-bottom: 10px;
}
table.test-cases tr.sort-disabled td {
  background-color: #ffffdd;
  padding: 10px;
  text-align: left;
}
div.suite-footer {
  padding: 8px;
}
.suite-children .tree-suite {
  border-left: 1px solid #E3E4E5;
  padding-left: 20px;
}
.suite-title {
   font-size: 14px;
   font-weight: bold;
   padding: 10px 0px;
   line-height: 18px;
}
.suite-title .suite-actions {
  display: none;
}
.suite-title:hover .suite-actions {
  display: inline-block;
}
.tree-actions {
  margin-right: 10px;
}
.suite-actions a, .execution-actions a {
  margin-left: 8px;
}
.execution-header {
  padding-bottom: 10px;
}
.case-preview .case-header {
  padding-top: 10px;
  border-bottom: 1px solid #d7d7d7;
}
.case-preview .case-header span {
  line-height: 40px;
  font-size: 16px;
}
.case-preview .case-body {
  border-bottom: 1px solid #d7d7d7;
}
.case-preview .case-footer {
  padding-top: 5px;
}
.case-preview p.section {
  font-weight: bold;
}
.case-preview .hidden {
  display: none;
}
.case-preview .case-footer-comment {
  width: 99%;
}
div.execution-actions {
  display: inline-block;
}
div.execution-dialog label {
  width: 95px;
  display: inline-block;
}
div.execution-dialog .execution-dialog-environment a {
  margin-left: 5px;
}
div.execution-dialog table.test-cases {
  width: 100%;
  margin-top: 10px;
}
div.execution-dialog > div {
  padding-top: 5px;
}
div.environment-dialog-name label {
  margin-right: 10px;
}
div.suite-dialog label {
  width: 60px;
  display: inline-block;
}
select.list-item-select.passed, select.case-footer-select.passed {
  background-color: #a6bd65;
  border: 0;
  color: #ffffff;
}
select.list-item-select.failed, select.case-footer-select.failed {
  background-color: #bb5151;
  border: 0;
  color: #ffffff;
}
select.list-item-select.blocked, select.case-footer-select.blocked {
  background-color: #7198bd;
  border: 0;
  color: #ffffff;
}
select.list-item-select option, select.case-footer-select option {
  background-color: #ffffff;
  color: #000000;
  border: 1px;
}
.execution-suites-root #tab-content-relations td.checkbox {
  display: none;
}
