table.suite-table {
  width: 100%;
  border-collapse: collapse;
}
table.test-cases th, table.test-cases td {
  text-align: left;
  vertical-align: middle;
}
table.test-cases tr:nth-child(odd) {
  background-color: #f6f7f8;
}
table.test-cases tr.suite-case:hover {
  background-color: #ffffdd;
}
table.test-cases .drag {
  width: 20px;
  padding-right: 0;
  text-align: center;
}
table.test-cases .checkbox {
  text-align: center;
  width: 20px;
}
table.test-cases .suite-id {
  width: 80px;
}
table.test-cases td.case-actions {
  text-align: right;
}
table.test-cases tr.sort-disabled td {
  padding: 0;
  height: 1px;
}
div.suite-footer {
  padding: 8px;
}
.suite-children .tree-suite {
  border-left: 1px solid #E3E4E5;
  padding-left: 20px;
}
.suite-title {
   font-size: 14px;
   font-weight: bold;
   padding: 10px 0px;
}
.suite-title .suite-actions {
  display: none;
}
.suite-title:hover .suite-actions {
  display: inline-block;
}
.tree-actions {
  margin-right: 10px;
}
.suite-actions a, .execution-actions a {
  margin-left: 8px;
}
.execution-body {
  width: 49%;
  float: left;
}
.case-preview {
  width: auto;
  float: left;
  padding-left: 20px;
}


div.execution-actions {
  display: inline-block;
}



