<% if @journals.present? %>
  <% for journal in @journals %>
  <div class="">
    <h4>
      <%= avatar(journal.user, :size => "24") %>
      <%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %>
      <%= render_private_notes_indicator(journal) %>
    </h4>
  </div>
  <% end %>
<% end %>

<%= submit_tag l(:button_submit) %>