<hr>
<div class="test_case_preconditions">
  <p>
    <b>Preconditions</b>
  </p>
  <div class="wiki">
    <p>
      <%= textilizable test_case, :preconditions %>
    </p>
  </div>
</div>
<hr>
<div class="test_case_steps">
  <p>
    <b>Steps</b>
  </p>
  <div class="wiki">
    <p>
      <%= textilizable test_case, :steps %>
    </p>
  </div>
</div>
<hr>
<div class="test_case_expected_results">
  <p>
    <b>Expected results</b>
  </p>
  <div class="wiki">
    <p>
      <%= textilizable test_case, :expected_results %>
    </p>
  </div>
</div>
