<hr>
<div class="test_case_preconditions attribute">
  <p>
    <strong>Preconditions</strong>
  </p>
  <div class="wiki">
    <p>
      <%= textilizable test_case, :preconditions %>
    </p>
  </div>
</div>
<hr>
<div class="test_case_steps attribute">
  <p>
    <strong>Steps</strong>
  </p>
  <div class="wiki">
    <p>
      <%= textilizable test_case, :steps %>
    </p>
  </div>
</div>
<hr>
<div class="test_case_expected_results attribute">
  <p>
    <strong>Expected result</strong>
  </p>
  <div class="wiki">
    <p>
      <%= textilizable test_case, :expected_results %>
    </p>
  </div>
</div>
